.border{
      border: 2px solid black;
}

.flex{
      display: flex;
}

.justify_center{
      justify-content: center;
}

.items_center{
      align-items: center;
}

.invert{
      filter: invert(1);
}

.rounded{
      border-radius: 5px;
}

.bg_black{
      background-color: black;
      color: white;
}

.bg_grey{
      background-color: #121212;
      color: white;
}

.m-1{
      margin: 10px;
}

.p-1{
      padding: 10px;
}